body{
    margin: 0;
    background-color: black;
    font-family: sans-serif
}
canvas{
    border: 2px solid yellow;
    background-color: rgb(4, 6, 16);
    display: block;
    margin: 0 auto;
    margin-top: 10px
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
#Result{
    background-color: rgb(0, 0, 0);
    margin: 20px 20px;
    padding: 10px 10px 10px 10px ;
    border: 1px solid rgb(193, 186, 186);
    color: yellow
}
p{ 
    padding: 10px 10px 10px 10px ;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    font-size: 40px;

}
#scoreEl{
    align-self: flex-end;
    font-size: 40px;
}
/* tela de derrota */

#GameOver{
    display: none;
    flex-direction: column;
    position: absolute;
    max-width: 500px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    margin: 0;
}
#textGameOver{
    font-size:16px;
    color: gray;
    margin-bottom: 0;
}
#scoreEl2.gover{
    font-size: 60px;
    margin-bottom: 0px;
}
#points{
    font-size:14px;
    color: gray;
    margin: 0px;
}
#restartlose{
    background-color: rgb(42, 106, 209);
    margin: 20px 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}
#restartlose:hover{
    background-color: rgb(0, 0, 255);
    cursor: pointer;
}

/* tela de vitoria */

#GameWin{
    display: none;
    flex-direction: column;
    position: absolute;
    max-width: 500px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    margin: 0;
}
#textGameWin{
    font-weight: bolder;
    font-size:30px;
    color: green;
    margin-bottom: 0;
}
#scoreEl3.gwin{
    font-size: 60px;
    margin-bottom: 0px;
}
#points2{
    font-size:20px;
    color: green;
    margin: 0px;
}
#restartwin{
    background-color: rgb(42, 106, 209);
    margin: 20px 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}
#restartwin:hover{
    background-color: rgb(0, 0, 255);
    cursor: pointer;
}
#StartGame{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    margin: 0;
}
#textStartGame{
    font-weight: bolder;
    font-size:80px;
    color: yellow;
    margin-bottom: 0;
}
#startbtn{
    background-color: rgb(42, 106, 209);
    margin: 20px 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 40px;
}
#startbtn:hover{
    background-color: rgb(0, 0, 255);
    cursor: pointer;
}
h1{
    margin-bottom: 0;
}